<div
  class="flex flex-col items-center space-y-4 justify-center text-xl md:mx-20"
>
  <div class="">
    <div
      class="flex justify-center items-center text-2xl md:text-4xl space-x-2"
    >
      <h2 class="font-bold text-white ml-2 fade-col">Bitcoin</h2>
      <img
        src="/assets/outline-btc.png"
        alt=""
        class="w-12 h-12 md:w-14 md:h-14"
      />
      <p class="font-medium text-orange-500 fade-col-rev">address</p>
    </div>

    <div
      class="border border-gray-700 rounded-3xl p-6 text-left shadow-inner shadow-gray-700 mt-6 mx-6 md:mx-6 tracking-wider"
    >
      <div>
        <h3 class="text-gray-400 uppercase text-sm mb-4">Hash</h3>
        <p class="text-white break-all">{{ walletAddress }}</p>
      </div>
      <hr class="border-gray-600 my-4" />

      <div>
        <h3 class="text-gray-400 uppercase text-sm mb-4">Balance</h3>
        <div class="text-white flex flex-col sm:flex-row items-center">
          <ng-container
            *ngIf="
              btcPrice &&
                addressBalance &&
                addressBalance.confirmedBitcoin !== undefined;
              else spinner
            "
          >
            <div class="items-center flex flex-col sm:flex-row">
              <i
                class="fas fa-check-circle mr-0 mb-3 sm:mr-2 sm:mb-0 text-xl sm:text-2xl text-green-500"
              ></i>
              <span>
                {{
                  trimTrailingZeros(
                    addressBalance.confirmedBitcoin | number : "1.10"
                  )
                }}
                <span class="text-gray-400 ml-1"> BTC</span>
              </span>
              <span class="mx-2 sm:mx-4 text-gray-400">•</span>
              <span>
                {{
                  trimTrailingZeros(
                    addressBalance.confirmedBitcoin * btcPrice
                      | number : "1.2-2"
                  )
                }}
                <span class="text-gray-400 ml-1"> USD</span>
              </span>
            </div>
          </ng-container>

          <ng-template #spinner>
            <div class="flex items-center">
              <app-spinner></app-spinner>
            </div>
          </ng-template>
        </div>

        <hr class="border-gray-600 my-4" />

        <div>
          <h3 class="text-gray-400 uppercase text-sm mb-4">Unconfirmed</h3>
          <div class="text-white flex flex-col sm:flex-row items-center">
            <ng-container
              *ngIf="
                btcPrice &&
                  addressBalance &&
                  addressBalance.unconfirmedBitcoin !== undefined;
                else spinner
              "
            >
              <div class="items-center flex flex-col sm:flex-row">
                <i
                  class="fas fa-exclamation-circle mr-0 mb-3 sm:mr-2 sm:mb-0 text-xl sm:text-2xl text-yellow-500"
                ></i>
                <span>
                  {{
                    trimTrailingZeros(
                      addressBalance.unconfirmedBitcoin | number : "1.10"
                    )
                  }}
                  <span class="text-gray-400 ml-1"> BTC</span>
                </span>
                <span class="mx-2 sm:mx-4 text-gray-400">•</span>
                <span>
                  {{
                    trimTrailingZeros(
                      addressBalance.unconfirmedBitcoin * btcPrice
                        | number : "1.2-2"
                    )
                  }}
                  <span class="text-gray-400 ml-1"> USD</span>
                </span>
              </div>
            </ng-container>

            <ng-template #spinner>
              <div class="flex items-center justify-center">
                <app-spinner></app-spinner>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-container
    *ngIf="
      !(loadingService.isLoading$ | async) &&
        addressHistory &&
        addressHistory.transactions[0].details;
      else loadingHistorySkeleton
    "
  >
    <div class="flex flex-col items-center">
      <div class="flex flex-col items-center w-full" #transactionsContainer>
        <div class="w-full grid gap-4 px-6 mt-4 text-white sm:grid-cols-1">
          <div
            *ngFor="let transaction of addressHistory.transactions"
            class="border border-gray-700 rounded-3xl p-6 shadow-gray-700 shadow-sm w-full space-y-6"
          >
            <div
              class="mb-2 flex flex-col sm:flex-row justify-between items-center space-y-2 sm:space-y-0"
            >
              <div class="flex items-center">
                <img
                  [src]="
                    transaction.details.direction?.sentAmount == 0
                      ? '/assets/plus.svg'
                      : '/assets/minus.svg'
                  "
                  class="w-5 h-5 mr-2"
                  alt="Direction"
                />
                <p *ngIf="transaction.details?.direction?.sentAmount == 0">
                  Received
                </p>
                <p *ngIf="transaction.details?.direction?.receivedAmount == 0">
                  Sent
                </p>
              </div>
              <p
                class="text-green-500 tracking-wide"
                *ngIf="transaction.details?.direction?.sentAmount == 0"
              >
                {{
                  trimTrailingZeros(
                    transaction.details.direction!.receivedAmount
                  ) | number : "1.2-10"
                }}
                BTC
              </p>
              <p
                class="text-red-500 tracking-wide"
                *ngIf="transaction.details?.direction?.receivedAmount == 0"
              >
                {{
                  trimTrailingZeros(transaction.details.direction!.sentAmount)
                    | number : "1.2-10"
                }}
                BTC
              </p>
            </div>

            <div
              class="mb-2 flex flex-col sm:flex-row justify-between items-center space-y-2 sm:space-y-0 text-gray-300 text-base"
            >
              <p>{{ transaction.details.confirmations }} confirmations</p>
              <p>
                {{
                  +transaction.details.time * 1000
                    | date : "MMM dd, yyyy, HH:mm:ss"
                }}
                EEST
              </p>
            </div>

            <div
              class="mb-2 flex flex-col sm:flex-row justify-between items-center space-y-2 sm:space-y-0"
            >
              <div class="flex items-center">
                <span class="text-gray-400 mr-4 flex items-center">
                  <i class="fas fa-cube mr-3 ml-0.5 text-xl text-white"></i>
                  <span>Block</span>
                </span>
                <a
                  routerLink="/insights/block/{{ transaction.blockHeight }}"
                  class="hover:text-orange-400 cursor-pointer text-white"
                >
                  {{ transaction.blockHeight }}
                </a>
              </div>

              <div class="items-center hidden sm:flex">
                <p class="text-gray-300">
                  {{ transaction.details.vbytes }} vBytes
                </p>
              </div>
            </div>

            <div class="flex flex-col sm:flex-row justify-between items-center">
              <span class="text-gray-400 mr-4 flex items-center mb-2 md:mb-0">
                <i class="fas fa-link mr-[9px] text-xl text-blue-500"></i>
                <span>Hash</span>
              </span>

              <div class="flex items-center">
                <a
                  routerLink="/insights/transaction/{{ transaction.txHash }}"
                  class="hover:text-orange-400 cursor-pointer relative"
                >
                  <p class="break-all">{{ transaction.txHash }}</p>
                </a>
              </div>
              <button
                ngxClipboard
                [cbContent]="transaction.txHash"
                (cbOnSuccess)="showTooltip(transaction.txHash)"
                (mouseenter)="showCopy(transaction.txHash)"
                (mouseleave)="hideTooltip()"
                class="relative top-0 ml-2 hidden lg:block"
              >
                <img
                  src="/assets/copy.svg"
                  class="w-5 h-5"
                  [ngClass]="{
                    'animate-bounce': animatedIndex === transaction.txHash
                  }"
                  alt="copy"
                />
                <span
                  *ngIf="showTooltipId === transaction.txHash"
                  class="absolute top-0 -left-12 mt-6 ml-2 px-2 py-1 bg-gray-800 text-white rounded whitespace-nowrap opacity-100 transition-opacity duration-200"
                >
                  {{ showCopied ? "copied!" : "copy" }}
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="onPageChange($event)"
      ></app-pagination>
    </div>
  </ng-container>

  <ng-template #loadingHistorySkeleton>
    <div class="w-full lg:w-[900px] px-6">
      <div
        *ngFor="let _ of [1, 2, 3, 4, 5, 6, 7, 8]"
        class="border border-gray-700 rounded-3xl p-10 shadow-gray-700 shadow-sm mb-4"
      >
        <div class="mb-2 flex items-center justify-between space-x-2">
          <div class="w-6 h-6 bg-gray-700 rounded-full animate-pulse"></div>
          <div class="w-44 bg-gray-700 h-4 animate-pulse"></div>
        </div>

        <div
          class="mb-2 flex items-center justify-between space-x-2 text-gray-300"
        >
          <div class="w-20 bg-gray-700 h-4 animate-pulse"></div>
          <div class="w-36 bg-gray-700 h-4 animate-pulse"></div>
        </div>

        <div class="mb-2 flex items-center justify-between space-x-2">
          <div class="text-gray-400 flex items-center">
            <div class="w-6 h-6 bg-gray-700 rounded-full animate-pulse"></div>
            <div class="ml-2 w-40 bg-gray-700 h-4 animate-pulse"></div>
          </div>
          <div class="hidden sm:flex">
            <div class="w-24 bg-gray-700 h-4 animate-pulse"></div>
          </div>
        </div>

        <div class="flex items-center justify-between space-x-2">
          <div class="text-gray-400 flex items-center">
            <div class="w-6 h-6 bg-gray-700 rounded-full animate-pulse"></div>
            <div
              class="ml-[9px] w-40 md:w-96 bg-gray-700 h-4 animate-pulse"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
