<div
  class="flex flex-col items-center space-y-4 justify-center text-xl md:mx-20"
>
  <div class="">
    <div
      class="flex justify-center items-center text-2xl md:text-4xl space-x-2"
    >
      <h2 class="font-bold text-white ml-2">Bitcoin</h2>
      <img
        src="/assets/outline-btc.png"
        alt=""
        class="w-12 h-12 md:w-14 md:h-14"
      />
      <p class="font-medium text-orange-500">address</p>
    </div>

    <div class="flex flex-col sm:flex-row justify-center">
      <ul class="flex flex-col sm:flex-row gap-3 mt-4 text-white">
        <li
          class="border border-gray-700 rounded-3xl p-6 text-center shadow-inner shadow-white"
        >
          <div class="flex items-center justify-center mb-2 w-60">
            <i class="fas fa-check-circle mr-2 text-2xl text-green-500"></i>
            <p class="text-gray-400">Confirmed BTC</p>
          </div>

          <ng-container
            *ngIf="
              addressBalance && addressBalance.confirmedBitcoin !== undefined;
              else spinner
            "
          >
            <p class="tracking-wider">
              {{
                trimTrailingZeros(
                  addressBalance.confirmedBitcoin | number : "1.20"
                )
              }}
            </p>
          </ng-container>

          <ng-template #spinner>
            <app-spinner></app-spinner>
          </ng-template>
        </li>
        <li
          class="border border-gray-700 rounded-3xl p-6 text-center shadow-inner shadow-white"
        >
          <div class="flex items-center justify-center mb-2 w-60">
            <i
              class="fas fa-exclamation-circle mr-2 text-2xl text-yellow-500"
            ></i>
            <p class="text-gray-400">Unconfirmed BTC</p>
          </div>

          <ng-container
            *ngIf="
              addressBalance && addressBalance.unconfirmedBitcoin !== undefined;
              else spinner
            "
          >
            <p>{{ addressBalance.unconfirmedBitcoin }}</p>
          </ng-container>

          <ng-template #spinner>
            <app-spinner></app-spinner>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>

  <ng-container *ngIf="addressHistory; else loadingHistorySkeleton">
    <div class="flex flex-col items-center">
      <div class="flex flex-col items-center">
        <div
          [ngClass]="
            addressHistory.transactions.length >= 4
              ? 'grid gap-4 px-6 mt-4 text-white sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4'
              : 'gap-4 px-6 mt-4 text-white flex  justify-center'
          "
        >
          <div
            *ngFor="let transaction of addressHistory.transactions"
            class="border border-gray-700 rounded-3xl p-6 text-center shadow-white shadow-sm"
          >
            <div class="flex flex-col items-center justify-center mb-2">
              <p class="text-gray-400 flex items-center justify-center">
                <i class="fas fa-link mr-1 text-xl text-blue-500"></i> Hash
              </p>
            </div>
            <div class="flex items-center justify-center">
              <a
                routerLink="/insights/transaction/{{ transaction.txHash }}"
                class="hover:text-orange-400 cursor-pointer relative"
              >
                <p class="break-all">{{ transaction.txHash | truncate }}</p>
              </a>
              <button
                ngxClipboard
                [cbContent]="transaction.txHash"
                (cbOnSuccess)="showTooltip(transaction.txHash)"
                (mouseenter)="showCopy(transaction.txHash)"
                (mouseleave)="hideTooltip()"
                class="relative top-0 ml-2"
              >
                <img
                  src="/assets/copy.svg"
                  class="w-5 h-5"
                  [ngClass]="{
                    'animate-bounce': animatedIndex === transaction.txHash
                  }"
                  alt=""
                />
                <span
                  *ngIf="showTooltipId === transaction.txHash"
                  class="absolute top-0 left-0 mt-6 ml-2 px-2 py-1 bg-gray-800 text-white rounded whitespace-nowrap opacity-100 transition-opacity duration-200"
                >
                  {{ showCopied ? "copied!" : "copy" }}
                </span>
              </button>
            </div>

            <a
              routerLink="/insights/block/{{ transaction.blockHeight }}"
              class="hover:text-orange-400 cursor-pointer"
            >
              <div class="flex flex-col items-center justify-center mt-3 mb-2">
                <p class="text-gray-400 flex items-center justify-center">
                  <i class="fas fa-cube mr-2 text-xl"></i>Block
                </p>
                <p>{{ transaction.blockHeight }}</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="onPageChange($event)"
      ></app-pagination>
    </div>
  </ng-container>

  <ng-template #loadingHistorySkeleton>
    <div class="flex flex-col items-center">
      <div class="flex flex-col justify-center">
        <ul
          class="flex flex-col gap-4 px-6 mt-4 text-white custom-skeleton"
          *ngFor="let _ of [1, 2, 3]"
        >
          <li
            class="border-4 border-gray-700 rounded-3xl p-6 text-center shadow-white shadow-md"
          >
            <div class="flex items-center justify-center mb-2">
              <p class="text-gray-400">
                <i class="fas fa-link mr-0.5 text-xl text-blue-500"></i>
                Transaction Hash
              </p>
            </div>
            <app-spinner></app-spinner>

            <div class="flex items-center justify-center mt-3 mb-2">
              <p class="text-gray-400">
                <i class="fas fa-cube mr-2 text-xl"></i>Block Height
              </p>
            </div>
            <app-spinner></app-spinner>
          </li>
        </ul>
      </div>
    </div>
  </ng-template>
</div>
