<ng-container *ngIf="!(isLoading$ | async)">
  <footer class="mt-5 md:mt-20 text-sm mx-2">
    <div class="container max-w-7xl mx-auto">
      <div class="flex w-full px-3 sm:px-6">
        <div class="flex-1">
          <p class="font-semibold md:mb-6 text-orange-400">Links</p>
          <ul class="list-reset mb-6">
            <li class="mt-2 block">
              <a
                routerLink="/"
                class="no-underline lg:hover:text-orange-400 text-gray-400"
                >Home</a
              >
            </li>
            <li class="mt-2 block">
              <a
                routerLink="/donate"
                class="no-underline lg:hover:text-orange-400 text-gray-400"
                >Donate</a
              >
            </li>
          </ul>
        </div>

        <div class="flex-1">
          <p class="font-semibold md:mb-6 text-orange-400">Legal</p>
          <ul class="list-reset mb-6">
            <li class="mt-2 block">
              <a
                href="https://github.com/zurnov/bitcoin-insights-frontend/"
                target="_blank"
                rel="noopener noreferrer"
                class="no-underline lg:hover:text-orange-400 text-gray-400"
                >Terms</a
              >
            </li>
            <li class="mt-2 block">
              <a
                href="https://github.com/zurnov/bitcoin-insights-frontend/"
                target="_blank"
                rel="noopener noreferrer"
                class="no-underline lg:hover:text-orange-400 text-gray-400"
                >Privacy</a
              >
            </li>
          </ul>
        </div>

        <div class="flex-initial">
          <p class="font-semibold md:mb-6 text-orange-400">Social</p>
          <ul class="list-reset mb-1 flex items-center space-x-4">
            <li class="relative inline-block">
              <i
                class="fab fa-linkedin text-gray-400 text-xl cursor-pointer hover:text-orange-400"
                (click)="toggleDropdown('linkedin')"
                [ngClass]="{ 'text-orange-400': showDropdown === 'linkedin' }"
              ></i>
              <ul
                *ngIf="showDropdown === 'linkedin'"
                class="absolute bg-transparent border border-gray-700 mt-1 text-white shadow-lg z-10 -right-[54.5px] mr-2 w-20 text-center rounded-md"
              >
                <li class="block px-2 py-1 hover:text-orange-400">
                  <a href="https://www.linkedin.com/in/dz06/" target="_blank"
                    >Daniel [FE]</a
                  >
                </li>

                <div class="border-t border-gray-600 my-1 mx-2"></div>

                <li class="block px-2 py-1 hover:text-orange-400">
                  <a href="https://www.linkedin.com/in/zurnov/" target="_blank"
                    >Dimitar [BE]</a
                  >
                </li>
              </ul>
            </li>

            <li class="relative inline-block">
              <i
                class="fab fa-github text-gray-400 text-xl cursor-pointer hover:text-orange-400"
                (click)="toggleDropdown('github')"
                [ngClass]="{ 'text-orange-400': showDropdown === 'github' }"
              ></i>
              <ul
                *ngIf="showDropdown === 'github'"
                class="absolute bg-transparent border border-gray-700 mt-1 text-white shadow-lg z-10 -right-[19px] mr-2 w-20 text-center rounded-md"
              >
                <li class="block px-2 py-1 hover:text-orange-400">
                  <a
                    href="https://github.com/zurnov/bitcoin-insights-frontend/"
                    target="_blank"
                    >BTC-I [FE]</a
                  >
                </li>

                <div class="border-t border-gray-600 my-1 mx-2"></div>

                <li class="block px-2 py-1 hover:text-orange-400">
                  <a
                    href="https://github.com/zurnov/bitcoin-insights/"
                    target="_blank"
                    >BTC-I [BE]</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</ng-container>
