<header class="absolute inset-x-0 top-6 z-50">
  <div class="container mx-auto max-w-screen-2xl">
    <div class="w-full flex flex-col">
      <nav class="flex items-center justify-between mx-4">
        <div class="flex items-center lg:flex-1">
          <a routerLink="/">
            <img
              class="h-14 w-auto"
              src="/assets/btc-logo.png"
              alt="header-logo"
            />
          </a>
        </div>

        <div class="flex flex-1 justify-end">
          <button
            *ngIf="!isMobileMenuOpen"
            type="button"
            (click)="openMobileMenu()"
          >
            <svg
              class="h-10 w-10"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="#fff"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
          </button>
        </div>
      </nav>
    </div>
  </div>

  <app-mobile-menu
    *ngIf="isMobileMenuOpen"
    (isMobileMenuOpenChange)="handleCloseMobileMenu($event)"
  ></app-mobile-menu>
</header>
