@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #171b25;
}

@keyframes fadeColor {
  0% {
    color: #f97316;
  }
  30% {
    color: #f59e0b;
  }
  40% {
    color: #fde68a;
  }
  60% {
    color: #ffffff;
  }
  90% {
    color: #fde68a;
  }
  100% {
    color: #f97316;
  }
}

@keyframes fadeColorReverse {
  0% {
    color: #ffffff;
  }
  30% {
    color: #fde68a;
  }
  40% {
    color: #f59e0b;
  }
  60% {
    color: #f97316;
  }
  90% {
    color: #f59e0b;
  }
  100% {
    color: #ffffff;
  }
}

.fade-col {
  animation: fadeColor 8s infinite;
}

.fade-col-rev {
  animation: fadeColorReverse 8s infinite;
}
