@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

html {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #171b25;
}

@keyframes fadeColor {
  0% {
    color: #f97316;
  }
  30% {
    color: #f59e0b;
  }
  40% {
    color: #fde68a;
  }
  60% {
    color: #ffffff;
  }
  90% {
    color: #fde68a;
  }
  100% {
    color: #f97316;
  }
}

@keyframes fadeColorReverse {
  0% {
    color: #ffffff;
  }
  30% {
    color: #fde68a;
  }
  40% {
    color: #f59e0b;
  }
  60% {
    color: #f97316;
  }
  90% {
    color: #f59e0b;
  }
  100% {
    color: #ffffff;
  }
}

.fade-col {
  animation: fadeColor 8s infinite;
}

.fade-col-rev {
  animation: fadeColorReverse 8s infinite;
}

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@keyframes spin {
  to {
    --border-angle: 360deg;
  }
}

.bor-gr-anim {
  border: 3px solid transparent;
  border-radius: 3rem;
  overflow: hidden;
  position: relative;

  background: linear-gradient(to bottom, rgb(23, 27, 37), rgb(23, 27, 37))
      padding-box,
    conic-gradient(
        from var(--border-angle),
        rgba(249, 115, 22, 0.95),
        rgba(245, 158, 11, 0.95) 5%,
        rgba(253, 230, 138, 0.95) 40%,
        rgba(255, 255, 255, 0.95) 60%,
        rgba(253, 230, 138, 0.95) 90%,
        rgba(249, 115, 22, 0.95)
      )
      border-box;

  animation: spin 3s infinite linear;

  &:hover {
    animation-play-state: paused;
  }
}

.toast-err {
  position: fixed;
  top: 0;
  margin: 10px;
  background-color: #ff6347;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.toast-warn {
  position: fixed;
  top: 0;
  margin: 10px;
  background-color: #ffa500;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

@media (min-width: 460px) {
  .toast-err {
    top: 0;
    right: 0;
  }

  .toast-warn {
    top: 0;
    left: 0;
  }
}

.toast-title,
.toast-msg {
  padding: 12px;
}
