<div
  class="flex flex-col items-center space-y-4 justify-center md:mx-20 mb-10 text-base px-6"
>
  <ng-container
    *ngIf="
      !(loadingService.isLoading$ | async) && blockInfo && btcPrice;
      else techInfoSkeleton
    "
  >
    <div class="flex flex-col items-center">
      <div
        class="flex flex-wrap justify-center items-center text-2xl md:text-4xl space-x-2"
      >
        <h2 class="font-bold text-white fade-col">Bitcoin</h2>
        <img
          src="/assets/outline-btc.png"
          alt=""
          class="w-12 h-12 md:w-14 md:h-14"
        />
        <p class="font-medium text-orange-500 fade-col-rev">block</p>
      </div>

      <div
        class="flex flex-col w-full px-4 md:px-6 mt-6 space-y-4 text-white border border-gray-700 rounded-3xl p-4 md:p-6 shadow-inner shadow-gray-800 max-w-6xl"
      >
        <div class="flex flex-col items-center justify-center mt-3 mb-2">
          <p class="text-gray-400 text-xl font-medium">
            <i class="fas fa-info-circle mr-1 text-lg text-orange-500"></i>
            Technical Info
          </p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div class="p-4 border-b border-gray-700">
            <p class="text-gray-400">
              <i class="fas fa-cube mr-1 text-base text-orange-400"></i>
              Block Height
            </p>
            <p>{{ blockInfo.blockHeight }}</p>
          </div>

          <div class="p-4 border-b border-gray-700">
            <p class="text-gray-400">
              <i class="fas fa-hashtag mr-1 text-base text-orange-400"></i>
              Hash
            </p>
            <p class="break-all">{{ blockInfo.hash }}</p>
          </div>

          <div class="p-4 border-b border-gray-700">
            <p class="text-gray-400">
              <i class="fas fa-calendar-alt mr-1 text-base text-orange-400"></i>
              Mined on
            </p>
            <p>
              {{ +blockInfo.time * 1000 | date : "dd MMM yyyy, HH:mm:ss" }} EEST
            </p>
          </div>

          <div class="p-4 border-b border-gray-700">
            <p class="text-gray-400">
              <i class="fas fa-check-circle mr-1 text-base text-orange-400"></i>
              Confirmations
            </p>
            <p>{{ blockInfo.confirmations }}</p>
          </div>

          <div class="p-4 border-b border-gray-700">
            <p class="text-gray-400">
              <i class="fas fa-receipt mr-1 text-base text-orange-400"></i>
              Transactions Count
            </p>
            <p>{{ blockInfo.ntx }}</p>
          </div>

          <div class="p-4 border-b border-gray-700">
            <p class="text-gray-400">
              <i class="fas fa-expand mr-1 text-base text-orange-400"></i>
              Size
            </p>
            <p>{{ trimTrailingZeros((blockInfo.size / 1000).toFixed(3)) }} B</p>
          </div>

          <div class="p-4 border-b border-gray-700">
            <p class="text-gray-400">
              <i class="fas fa-weight mr-1 text-base text-orange-400"></i>
              Weight
            </p>
            <p>
              {{ trimTrailingZeros((blockInfo.weight / 1000).toFixed(3)) }} KWU
            </p>
          </div>

          <div class="p-4 border-b border-gray-700">
            <p class="text-gray-400">
              <i class="fas fa-ruler mr-1 text-base text-orange-400"></i>
              Stripped Size
            </p>
            <p>
              {{
                trimTrailingZeros((blockInfo.strippedSize / 1000).toFixed(3))
              }}
              B
            </p>
          </div>

          <div class="p-4 border-b border-gray-700">
            <p class="text-gray-400">
              <i class="far fa-clock mr-1 text-base text-orange-400"></i>
              Median Time
            </p>
            <p>
              {{
                +blockInfo.medianTime * 1000 | date : "dd MMM yyyy, HH:mm:ss"
              }}
              EEST
            </p>
          </div>

          <div class="p-4 border-b border-gray-700">
            <p class="text-gray-400">
              <i class="fas fa-code-branch mr-1 text-base text-orange-400"></i>
              Version
            </p>
            <p>{{ blockInfo.version }}</p>
          </div>

          <div class="p-4 border-b border-gray-700">
            <p class="text-gray-400">
              <i class="fas fa-file-code mr-1 text-base text-orange-400"></i>
              Version (Hex)
            </p>
            <p>{{ blockInfo.versionHex }}</p>
          </div>

          <div class="p-4 border-b border-gray-700">
            <p class="text-gray-400">
              <i
                class="fas fa-network-wired mr-1 text-base text-orange-400"
              ></i>
              Merkle Root
            </p>
            <p class="break-all">{{ blockInfo.merkleRoot }}</p>
          </div>

          <div class="p-4 border-b border-gray-700">
            <p class="text-gray-400">
              <i class="fas fa-chart-line mr-1 text-base text-orange-400"></i>
              Difficulty
            </p>
            <p>{{ blockInfo.difficulty | difficultyConversion }} T</p>
          </div>

          <div class="p-4 border-b border-gray-700">
            <p class="text-gray-400">
              <i class="fas fa-bolt mr-1 text-base text-orange-400"></i>
              Nonce
            </p>

            <p>{{ blockInfo.nonce | number : "1.0-0" }}</p>
          </div>

          <div class="p-4 border-b border-gray-700 sm:border-none">
            <p class="text-gray-400">
              <i class="fas fa-microchip mr-1 text-base text-orange-400"></i>
              Bits
            </p>
            <p>{{ hexToDecimal(blockInfo.bits) }}</p>
          </div>

          <div class="p-4">
            <p class="text-gray-400">
              <i class="fas fa-link mr-1 text-base text-orange-400"></i>
              Chainwork
            </p>
            <p class="break-all">{{ blockInfo.chainWork }}</p>
          </div>
        </div>
      </div>

      <li
        class="border border-gray-700 rounded-3xl p-6 mt-4 text-center shadow-gray-700 shadow-sm md:shadow-inner md:shadow-gray-700 list-none max-w-6xl"
        #transactionsContainer
      >
        <div class="text-white">
          <div class="flex flex-col items-center justify-center mt-3 mb-2">
            <p class="text-gray-400 text-xl font-medium">
              <i class="fas fa-list mr-1 text-lg text-orange-500"></i>
              Transactions
            </p>
          </div>
          <ng-container
            *ngIf="
              transactionDetails && transactionDetails.length;
              else spinner
            "
          >
            <div class="divide-y divide-gray-600">
              <div
                *ngFor="let transaction of transactionDetails"
                class="grid grid-cols-1 md:grid-cols-4 gap-4 py-4 px-8"
              >
                <div class="flex flex-col">
                  <span class="text-gray-400">
                    <i
                      class="fas fa-fingerprint mr-1 text-base text-orange-400"
                    ></i>
                    Transaction ID
                  </span>
                  <a
                    routerLink="/insights/transaction/{{ transaction.txId }}"
                    class="hover:text-orange-400 hover:underline cursor-pointer"
                  >
                    <p class="break-all">{{ transaction.txId }}</p>
                  </a>
                </div>

                <div class="flex flex-col">
                  <span class="text-gray-400">
                    <i
                      class="fas fa-expand-arrows-alt mr-1 text-base text-orange-400"
                    ></i>
                    Size
                  </span>
                  <span class="md:mt-2">{{ transaction.vbytes }}</span>
                </div>
                <div class="flex flex-col">
                  <span class="text-gray-400">
                    <i
                      class="fas fa-weight-hanging mr-1 text-base text-orange-400"
                    ></i>
                    Weight
                  </span>
                  <span class="md:mt-2">{{ transaction.weight }}</span>
                </div>

                <div class="flex flex-col">
                  <span class="text-gray-400">
                    <i class="fas fa-coins mr-1 text-base text-orange-400"></i>
                    Amount
                  </span>
                  <span
                    >{{ transaction.direction?.sentAmount | number : "1.0-8" }}
                    BTC
                  </span>

                  <span class="text-green-400 break-all">
                    {{
                      transaction.direction!.sentAmount * btcPrice
                        | number : "1.2-2"
                    }}
                    USD
                  </span>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-template #spinner>
            <app-spinner></app-spinner>
          </ng-template>
        </div>

        <app-pagination
          [currentPage]="currentPage"
          [totalPages]="totalPages"
          (pageChange)="onPageChange($event)"
        ></app-pagination>
      </li>
    </div>
  </ng-container>

  <!--! tech info skeleton -->
  <ng-template #techInfoSkeleton>
    <div
      class="flex flex-wrap justify-center items-center text-2xl md:text-4xl space-x-2 mb-2"
    >
      <h2 class="font-bold text-white fade-col">Bitcoin</h2>
      <img
        src="/assets/outline-btc.png"
        alt=""
        class="w-12 h-12 md:w-14 md:h-14"
      />
      <p class="font-medium text-orange-500 fade-col-rev">block</p>
    </div>

    <div
      class="flex flex-col w-full px-4 md:px-6 mt-6 space-y-4 text-white border border-gray-700 rounded-3xl p-4 md:p-6 shadow-inner shadow-gray-800 max-w-6xl"
    >
      <div class="flex flex-col items-center justify-center mt-3 mb-2">
        <p class="text-gray-400 text-xl font-medium">
          <i class="fas fa-info-circle mr-1 text-lg text-orange-500"></i>
          Technical Info
        </p>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="p-4 border-b border-gray-700">
          <p class="text-gray-400">
            <i class="fas fa-cube mr-1 text-base text-orange-400"></i>
            Block Height
          </p>
          <div class="w-36 bg-gray-700 h-4 animate-pulse"></div>
        </div>

        <div class="p-4 border-b border-gray-700">
          <p class="text-gray-400">
            <i class="fas fa-hashtag mr-1 text-base text-orange-400"></i>
            Hash
          </p>
          <div class="w-full bg-gray-700 h-4 animate-pulse"></div>
        </div>

        <div class="p-4 border-b border-gray-700">
          <p class="text-gray-400">
            <i class="fas fa-calendar-alt mr-1 text-base text-orange-400"></i>
            Mined on
          </p>
          <div class="w-52 bg-gray-700 h-4 animate-pulse"></div>
        </div>

        <div class="p-4 border-b border-gray-700">
          <p class="text-gray-400">
            <i class="fas fa-check-circle mr-1 text-base text-orange-400"></i>
            Confirmations
          </p>
          <div class="w-36 bg-gray-700 h-4 animate-pulse"></div>
        </div>

        <div class="p-4 border-b border-gray-700">
          <p class="text-gray-400">
            <i class="fas fa-receipt mr-1 text-base text-orange-400"></i>
            Transactions Count
          </p>
          <div class="w-36 bg-gray-700 h-4 animate-pulse"></div>
        </div>

        <div class="p-4 border-b border-gray-700">
          <p class="text-gray-400">
            <i class="fas fa-expand mr-1 text-base text-orange-400"></i>
            Size
          </p>
          <div class="w-36 bg-gray-700 h-4 animate-pulse"></div>
        </div>

        <div class="p-4 border-b border-gray-700">
          <p class="text-gray-400">
            <i class="fas fa-weight mr-1 text-base text-orange-400"></i>
            Weight
          </p>
          <div class="w-36 bg-gray-700 h-4 animate-pulse"></div>
        </div>

        <div class="p-4 border-b border-gray-700">
          <p class="text-gray-400">
            <i class="fas fa-ruler mr-1 text-base text-orange-400"></i>
            Stripped Size
          </p>
          <div class="w-36 bg-gray-700 h-4 animate-pulse"></div>
        </div>

        <div class="p-4 border-b border-gray-700">
          <p class="text-gray-400">
            <i class="far fa-clock mr-1 text-base text-orange-400"></i>
            Median Time
          </p>
          <div class="w-52 bg-gray-700 h-4 animate-pulse"></div>
        </div>

        <div class="p-4 border-b border-gray-700">
          <p class="text-gray-400">
            <i class="fas fa-code-branch mr-1 text-base text-orange-400"></i>
            Version
          </p>
          <div class="w-36 bg-gray-700 h-4 animate-pulse"></div>
        </div>

        <div class="p-4 border-b border-gray-700">
          <p class="text-gray-400">
            <i class="fas fa-file-code mr-1 text-base text-orange-400"></i>
            Version (Hex)
          </p>
          <div class="w-36 bg-gray-700 h-4 animate-pulse"></div>
        </div>

        <div class="p-4 border-b border-gray-700">
          <p class="text-gray-400">
            <i class="fas fa-network-wired mr-1 text-base text-orange-400"></i>
            Merkle Root
          </p>
          <div class="w-full bg-gray-700 h-4 animate-pulse"></div>
        </div>

        <div class="p-4 border-b border-gray-700">
          <p class="text-gray-400">
            <i class="fas fa-chart-line mr-1 text-base text-orange-400"></i>
            Difficulty
          </p>
          <div class="w-52 bg-gray-700 h-4 animate-pulse"></div>
        </div>

        <div class="p-4 border-b border-gray-700">
          <p class="text-gray-400">
            <i class="fas fa-bolt mr-1 text-base text-orange-400"></i>
            Nonce
          </p>
          <div class="w-36 bg-gray-700 h-4 animate-pulse"></div>
        </div>

        <div class="p-4 border-b border-gray-700 sm:border-none">
          <p class="text-gray-400">
            <i class="fas fa-microchip mr-1 text-base text-orange-400"></i>
            Bits
          </p>
          <div class="w-36 bg-gray-700 h-4 animate-pulse"></div>
        </div>

        <div class="p-4">
          <p class="text-gray-400">
            <i class="fas fa-link mr-1 text-base text-orange-400"></i>
            Chainwork
          </p>
          <div class="w-full bg-gray-700 h-4 animate-pulse"></div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
